<<<<<<< HEAD

<div>
<textarea class="textarea" placeholder="1 lines of textarea" rows="1"></textarea>
<div>


<br>
  <button class="button">1</button>
  <button class="button">2</button>
  <button class="button">3</button>
  <br>
  <button class="button">4</button>
  <button class="button">5</button>
  <button class="button">6</button>
  <br>
  <button class="button">7</button>
  <button class="button">8</button>
  <button class="button">9</button>
  <br>
  <button class="button">C</button>
  <button class="button">0</button>
  <button class="button">=</button>
  <button class="button">/</button>
  <br>
  <button class="button">+</button>
  <button class="button">-</button>
  <button class="button">*</button>
=======
<div class="control">
  <input class="input" type="text" placeholder="Números">
</div>


<div class="buttons">
  <button class="1">1</button>
  <button class="2">2</button>
  <button class="3">3</button>
  <button class="+">+</button>
  <br>

  <button class="button is-success">4</button>
  <button class="5">5</button>
  <button class="6">6</button>
  <button class="-">-</button>
  <br>

  <button class="7">7</button>
  <button class="8">8</button>
  <button class="9">9</button>
  <button class="*">*</button>
  <br>

  <button class="C">C</button>
  <button class="0">0</button>
  <button class="=">=</button>
  <button class="/">/</button>



>>>>>>> 853a35d91102e7bea4386bc6449745406edcbf3e
</div>
